#container {
    width:100%;
    text-align:center;
}

#gameContainer {
    width: 1000px;
    height: 600px;
    display: inline-block;
}

#bottomAd {
    width: 1000px;
    height: 250px;
    margin: auto;
}

#loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progress {
    margin: 1.5em;
    border: 1px solid white;
    width: 50vw;
    display: none;
}

.progress .full {
    margin: 2px;
    background: white;
    height: 1em;
    transform-origin: top left;
}

.logo {
    display: block;
    max-width: 100vw;
    max-height: 70vh;
}

.spinner,.spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.spinner {
    margin: 10px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    transform: translateZ(0);
    animation: spinner-spin 1.1s infinite linear;
}
@keyframes spinner-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}